
#wb_header { height: 100px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 890px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 50px; }
#wb_footer > .wb_cont_bg { background: #ffffff none repeat-x scroll center bottom; }
body { background: transparent url("../gallery_gen/1af73e3bfa28ca09fcf41c4629639db1.jpeg") no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/ab676c3517d98677549cea5f42773fd4.jpg") repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1040px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1040px; overflow: visible; min-height: 1040px; }
#wb_element_instance22 { top: 13px; left: 0px; min-width: 390px; width: 390px; min-height: 71px; height: 71px; display: block; z-index: 193; }
#wb_element_instance23 { top: 22px; left: 470px; min-width: 720px; width: 720px; min-height: 58px; height: 58px; display: block; z-index: 385; }
#wb_element_instance23 > ul { display: block; }
#wb_element_instance23 ul { background: transparent none no-repeat scroll left top; border: 1px none #000000; }
#wb_element_instance23, #wb_element_instance23 ul { text-align: right; }
#wb_element_instance23 ul ul { background: transparent none no-repeat scroll left top; }
#wb_element_instance23 li { margin: 10px 20px 10px 20px; }
#wb_element_instance23 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 2px 10px 2px; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #000000; line-height: 18px; background: transparent none repeat scroll left top; }
#wb_element_instance23 li.over > a, #wb_element_instance23 li:focus > a { border: 0px none #000000; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #ff6e2b; line-height: 18px; background: transparent none repeat scroll left top; }
#wb_element_instance23 li.active > a { border: 0px none #000000; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #ff6e2b; line-height: 18px; background: transparent none repeat scroll left top; }
#wb_element_instance23:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance23:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance23:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance24 { top: 20px; left: 1030px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 193; }
#wb_element_instance24 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance25 { top: 20px; left: 1090px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 194; }
#wb_element_instance25 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance26 { top: 20px; left: 1150px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 195; }
#wb_element_instance26 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance27 { top: 20px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 185; }
#wb_element_instance28 { top: 430px; left: 60px; min-width: 1090px; width: 1090px; min-height: 350px; height: 350px; display: block; z-index: 116; background: transparent; touch-action: manipulation; }
#wb_element_instance29 { top: 250px; left: 0px; min-width: 1200px; width: 1200px; min-height: 590px; height: 590px; display: block; z-index: 62; }
#wb_element_instance29 > .wb_shp { background: #ffffff; border: 5px none #C0C0C0; opacity: 0.8; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 590px; }
#wb_element_instance30 { top: 300px; left: 20px; min-width: 1160px; width: 1160px; min-height: 100px; height: 100px; display: block; z-index: 125; }
#wb_element_instance31 { top: 880px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance32 { top: 64px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance22 p:last-child { margin-bottom: 0; }
#wb_element_instance27 p:last-child { margin-bottom: 0; }
#wb_element_instance30 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
